<p>You are given a string of <b>N</b> characters, (<b>S<sub>1</sub></b>, <b>S<sub>2</sub></b>, <b>S<sub>3</sub></b>, ... , <b>S<sub>N</sub></b>), in which each character is 'X', 'Y' or 'Z'. A substring is a consecutive portion of the string. That is, a substring will be of the form (<b>S<sub>i</sub></b>, <b>S<sub>i+1</sub></b>, ... , <b>S<sub>j</sub></b>), for some i and j. A substring is said to be <i>Good</i> if it starts with an 'X', ends with a 'Z' and has a length which is a multiple of 3.</p>

<p>The <i>Importance</i> of a particular substring (<b>S<sub>i</sub></b>, <b>S<sub>i+1</sub></b>, ... , <b>S<sub>j</sub></b>), is the number of <i>Good</i> substrings that it intersects with. That is, it is the number of x and y, such that (<b>S<sub>x</sub></b>, <b>S<sub>x+1</sub></b>, ... , <b>S<sub>y</sub></b>) forms a <i>Good</i> substring, and there is some z such that i &le; z &le; j and x &le; z &le; y. This signifies that there is at least a single index z, which should be common.</p>

<p>Given an integer <b>K</b>, you need to find a substring of length exactly <b>K</b> which has the minimum <i>Importance</i>, and print the minimum <i>Importance</i>.</p>


<h3>Input</h3>
<p>The first line of the input contains an integer <b>T</b> denoting the number of test cases. The description of each test case follows.</p>
<p>The first line of each test case contains two integers <b>N</b> and <b>K</b> denoting the number of characters in the input string and the length of the substring needed.
</p>
<p>The second line of each test case contains <b>N</b> space separated characters denoting the input string.</p>

<h3>Output</h3>
<p>For each test case, output a single line containing a single integer, which should be the minimum <i>Importance</i> of a <b>K</b> length substring.</p>

<h3>Constraints</h3>
<ul>
<li>1 &le; <b>T</b> &le; 10</li>
<li>1 &le; <b>K</b> &le; <b>N</b> &le; 10<sup>5</sup></li>
</ul>


<h3>Subtasks:</h3>
<ul>
<li>Subtask #1 (10 points): 1 &le; <b>K</b> &le; <b>N</b> &le; 100</li>
<li>Subtask #2 (15 points): 1 &le; <b>K</b> &le; <b>N</b> &le; 1000</li>
<li>Subtask #3 (35 points): <b>K</b> = 1</li>
<li>Subtask #4 (40 points): Original constraints.</li>
</ul>

<h3>Example</h3>
<pre><b>Input:</b>
2
9 3
X Y Z Z Y X X Y Z
4 2
Y X Y Z

<b>Output:</b>
1
1

</pre>

<h3>Explanation</h3>
<b>Test case 1:</b>
<p>The input string is (X, Y, Z, Z, Y, X, X, Y, Z). There are totally 3 <i>Good</i> substrings, which are underlined:</p>

<ul>
<li>(<u><b>X</b>, <b>Y</b>, <b>Z</b></u>, Z, Y, X, X, Y, Z)</li>
<li>(X, Y, Z, Z, Y, X, <u><b>X</b>, <b>Y</b>, <b>Z</b></u>)</li>
<li>(<u><b>X</b>, <b>Y</b>, <b>Z</b>, <b>Z</b>, <b>Y</b>, <b>X</b>, <b>X</b>, <b>Y</b>, <b>Z</b></u>)</li>
</ul>

<p>We now need to find a substring of length 3 which intersects with the minimum number of <i>Good</i> substrings. In this example, there is an unique such substring: (X, Y, Z, <u><b>Z</b>, <b>Y</b>, <b>X</b></u>, X, Y, Z). Its <i>Importance</i> is 1 because it intersects with only the third <i>Good</i> substring. We cannot do better. Hence the answer is 1.</p>

<b>Test case 2:</b>
<p>The input string is (Y, X, Y, Z). There is only one <i>Good</i> substring: (Y, <u><b>X</b>, <b>Y</b>, <b>Z</b></u>). But every substring of length 2 intersects with this <i>Good</i> substring, and hence the <i>Importance</i> of every substring of length 2 is 1. Therefore the minimum is also 1, and that is the answer.</p>
